<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Assignment # 1</title>
  </head>
  <body>
    <div class="body-wrapper">
      <div class="content-wrapper">
        <div class="box c3">
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th class="button" (click)="showModal()">
                    <i class="fa-solid fa-magnifying-glass"></i> by Id
                  </th>
                  <th class="button" (click)="showdelModal()">
                    <i class="fa-solid fa-trash"></i> by Id
                  </th>
                  <th class="button" (click)="showNameModal()">
                    <i class="fa-solid fa-trash"></i>
                    by Name
                  </th>
                  <th class="button" (click)="showVendorModal()">
                    <i class="fa-brands fa-get-pocket"></i> get by Vendor
                  </th>
                  <th class="button" (click)="showCategoryModal()">
                    <i class="fa-brands fa-get-pocket"></i> get by Category
                  </th>
                  <th class="button" (click)="showMaxModal()">
                    <i class="fa-brands fa-maxcdn"></i> Max price
                  </th>
                </tr>
                <i
                  class="fa-solid fa-arrows-rotate refresh button"
                  (click)="refresh()"
                ></i>
              </thead>
              <thead>
                <tr>
                  <th>index</th>
                  <th>id</th>
                  <th>Name</th>
                  <th>Vendor</th>
                  <th>category</th>
                  <th>price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pro of filterProduct; let k = index">
                  <td>{{ k + 1 }}</td>
                  <td>{{ pro.id }}</td>
                  <td>{{ pro.name }}</td>
                  <td>{{ getVendorName(pro.VendorId) }}</td>
                  <td>{{ getCategoryName(pro.CategoryId) }}</td>
                  <td>{{ pro.Price }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <form id="product">
            <div class="label">ID</div>
            <input
              type="number"
              id="Pid"
              name="Pid"
              [(ngModel)]="Pid"
              (click)="genProID()"
              placeholder="Enter your full name"
              required
            />
            <div class="label">Product Name</div>
            <input
              type="text"
              id="Pname"
              name="Pname"
              [(ngModel)]="Pname"
              placeholder="Enter your full name"
              required
            />
            <div class="label">Vendor</div>
            <select [(ngModel)]="VendorId" name="VendorId">
              <option disabled value="null" selected>Select Vendor</option>
              <option *ngFor="let ven of vendor" [value]="ven.id">
                {{ ven.name }}
              </option>
            </select>

            <div class="label">Category</div>
            <select [(ngModel)]="CategoryId" name="CategoryId">
              <option disabled value="null" selected>Select Category</option>
              <option *ngFor="let cat of Category" [value]="cat.id">
                {{ cat.name }}
              </option>
            </select>

            <div class="label">Price</div>
            <input
              type="number"
              id="Price"
              name="Price"
              [(ngModel)]="Price"
              placeholder="Enter your full name"
              required
            />

            <button type="submit" id="pro-submit" (click)="subProduct()">
              Add Category
            </button>
          </form>
          <dialog id="searchDialog" [open]="isDialogOpen">
            <h1>Search by ID</h1>
            <div>
              <div>
                <input [(ngModel)]="ProductId" type="number" />
              </div>
            </div>
            <div>
              <button (click)="onCancel()">Cancel</button>
              <button (click)="onSearch()">Search</button>
            </div>
          </dialog>
          <dialog id="delDialog" [open]="IddelDialog">
            <h1>Delte by ID</h1>
            <div>
              <div>
                <input [(ngModel)]="ProductId" type="number" />
              </div>
            </div>
            <div>
              <button (click)="onCancel()">Cancel</button>
              <button (click)="delbyId()">Delete</button>
            </div>
          </dialog>
          <dialog id="NameDialog" [open]="NameDialog">
            <h2>Delete by Product Name</h2>
            <div>
              <div>
                <input
                  [(ngModel)]="ProductName"
                  placeholder="Enter product name"
                  type="text"
                />
              </div>
            </div>
            <div>
              <button (click)="onCancel()">Cancel</button>
              <button (click)="delbyName()">Delete</button>
            </div>
          </dialog>
          <dialog id="VendorDialog" [open]="VendorDialog">
            <h2>Get by Vendor Name</h2>
            <div>
              <div>
                <input
                  [(ngModel)]="VenName"
                  placeholder="Enter product name"
                  type="text"
                />
              </div>
            </div>
            <div>
              <button (click)="onCancel()">Cancel</button>
              <button (click)="getbyVen()">Get</button>
            </div>
          </dialog>
          <dialog id="CategoryDialog" [open]="CategoryDialog">
            <h2>Get by Category Name</h2>
            <div>
              <div>
                <input
                  [(ngModel)]="CatName"
                  placeholder="Enter category name"
                  type="text"
                />
              </div>
            </div>
            <div>
              <button (click)="onCancel()">Cancel</button>
              <button (click)="getbyCat()">Get</button>
            </div>
          </dialog>
          <dialog id="MaxDialog" [open]="MaxDialog">
            <h2>Get by Max Price</h2>
            <div>
              <div>
                <input
                  [(ngModel)]="MaxPrice"
                  placeholder="Enter max price"
                  type="number"
                />
              </div>
            </div>
            <div>
              <button (click)="onCancel()">Cancel</button>
              <button (click)="Maxprice()">Get</button>
            </div>
          </dialog>
        </div>
        <div class="box">
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th>index</th>
                  <th>id</th>
                  <th>Name</th>
                  <th>Phone</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ven of vendor; let j = index">
                  <td>{{ j + 1 }}</td>
                  <td>{{ ven.id }}</td>
                  <td>{{ ven.name }}</td>
                  <td>{{ ven.tel }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <form id="vendor">
            <div class="label">ID</div>
            <input
              type="number"
              id="Vid"
              name="Vid"
              [(ngModel)]="Vid"
              (click)="genVenID()"
              placeholder="Enter your full name"
              required
            />
            <div class="label">Vendor Name</div>
            <input
              type="text"
              id="Vname"
              name="Vname"
              [(ngModel)]="Vname"
              placeholder="Enter your full name"
              required
            />
            <div class="label">Contact Number</div>
            <input
              type="number"
              id="tel"
              name="tel"
              [(ngModel)]="tel"
              placeholder="Enter your phone number"
              required
            />
            <button type="submit" id="ven-submit" (click)="subVendor()">
              Add Vendor
            </button>
          </form>
        </div>
        <div class="box c2">
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th>index</th>
                  <th>id</th>
                  <th>Name</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cat of Category; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ cat.id }}</td>
                  <td>{{ cat.name }}</td>
                  <td>{{ cat.status }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <form id="category">
            <div class="label">ID</div>
            <input
              type="number"
              id="Cid"
              name="Cid"
              [(ngModel)]="Cid"
              (click)="genCatID()"
              placeholder="Enter your full name"
              required
            />
            <div class="label">Category Name</div>
            <input
              type="text"
              id="Cname"
              name="Cname"
              [(ngModel)]="Cname"
              placeholder="Enter your full name"
              required
            />
            <div class="label">Status</div>
            <div class="row radio" id="status">
              <input
                type="radio"
                id="active"
                name="status"
                value="active"
                [(ngModel)]="status"
              />
              <label for="active">Active</label>
              <input
                type="radio"
                id="inactive"
                name="status"
                value="inactive"
                [(ngModel)]="status"
              />
              <label for="inactive">Inactive</label>
            </div>

            <button type="submit" id="cat-submit" (click)="subCategory()">
              Add Category
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
